# Programming Task 2 (Data Types)

### 1. Nested Lists

In [2]:
#store the student records in a list
student_lst = []
for _ in range(int(input())):
    name = input()
    score = float(input())
    student = [name, score]
    student_lst.append(student)
# Get the record with the second lowest score 
lowest_score = max(student_lst, key=lambda s: s[1])
second_lowest_score = max(student_lst, key=lambda s: s[1])
for index in range(len(student_lst)):
    if student_lst[index][1] < lowest_score[1]:
        lowest_score, second_lowest_score = student_lst[index], lowest_score
    elif (student_lst[index][1] > lowest_score[1]) and (student_lst[index][1] < second_lowest_score[1]):
        second_lowest_score = student_lst[index]

#Find all students with the second lowest score
result = []
for i in range(len(student_lst)):
    if student_lst[i][1] == second_lowest_score[1]:
        result.append(student_lst[i])
    else:
        continue
#Sort the list of students with second lowest score
result = sorted(result)
#Print the result
for i in result:
    print(i[0])

4
Harry
44.2
Sharmeela
41.0
John
55.34
Aadil
44.2
Aadil
Harry

### 2. Introduction of Sets

In [6]:
def average(array):
    distinct_heights = set(array)
    sum_of_distinct_heights, avg_of_distinct_heights = 0, 0
    for height in distinct_heights:
        sum_of_distinct_heights += height
    avg_of_distinct_heights = sum_of_distinct_heights/len(distinct_heights)
    return avg_of_distinct_heights

In [7]:
n = int(input())
arr = list(map(int, input().split()))
result = average(arr)
print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

### 3. Symmetric Difference
#### Output the symmetric difference integers in ascending order, one per line.

In [8]:
m = int(input())
set_m = set(map(int,input().split()))
n = int(input())
set_n = set(map(int,input().split()))
set_difference = list(set_m.symmetric_difference(set_n))
set_difference = sorted(set_difference)
for element in set_difference:
    print(element)

4
2 4 5 9
4
2 4 11 -10
-10
5
9
11

### 4. Set .discard(), .remove() & .pop()
#### You have a non-empty set s , and you have to execute N commands given in N lines.
#### After that, Print the sum of the elements of set  on a single line.

In [9]:
num_of_elements = int(input())
s = set(map(int, input().split()))
num_of_operations = int(input())
for _ in range(num_of_operations):
    operation = list(map(str, input().split()))
    
    if operation[0] == 'pop':
        temp = s.pop()
    elif operation[0] == 'remove':
        try:
            s.remove(int(operation[1]))
        except:
            print("KeyError: Element doesn't exist")
    elif operation[0] == 'discard':
        s.discard(int(operation[1]))
sum_of_elements = 0
for element in s:
    sum_of_elements += element
print(sum_of_elements)

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

### 5. Set .union() Operation

In [10]:
sub_for_eng_news = int(input())
students_eng_news = set(map(int, input().split()))
sub_for_fr_news = int(input())
students_fr_news = set(map(int, input().split()))
eng_news_union_fr_news = students_eng_news.union(students_fr_news)
students_atleast_one_sub = len(eng_news_union_fr_news)
print(students_atleast_one_sub)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

### 6. Set .intersection Operation

In [11]:
sub_for_eng_news = int(input())
students_eng_news = set(map(int, input().split()))
sub_for_fr_news = int(input())
students_fr_news = set(map(int, input().split()))
eng_news_intersection_fr_news = students_eng_news.intersection(students_fr_news)
students_atleast_one_sub = len(eng_news_intersection_fr_news)
print(students_atleast_one_sub)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

### 7. Set .difference() Operation

In [12]:
sub_for_eng_news = int(input())
students_eng_news = set(map(int, input().split()))
sub_for_fr_news = int(input())
students_fr_news = set(map(int, input().split()))
eng_news_only = students_eng_news.difference(students_fr_news)
students_eng_only = len(eng_news_only)
print(students_eng_only)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

### 8. Set Mutations

In [13]:
num_of_elements_A = int(input())
set_A = set(map(int,input().split()))
num_of_other_sets = int(input())
for _ in range(num_of_other_sets):
    lst = list(map(str, input().split()))
    other_set = set(map(int,input().split()))
    if lst[0] == 'update':
        set_A.update(other_set)
    elif lst[0] == 'intersection_update':
        set_A.intersection_update(other_set)
    elif lst[0] == 'difference_update':
        set_A.difference_update(other_set)
    elif lst[0] == 'symmetric_difference_update':
        set_A.symmetric_difference_update(other_set)
    else:
        continue
sum_of_setA = 0   
for element in set_A:
    sum_of_setA += element
print(sum_of_setA)

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
2
intersection_update 10
2 3 5 6 8 9 1 4 7 11
symmetric_difference_update 5
22 7 35 62 58
226

### 9. The Captain's Room

In [14]:
K = int(input())
lst_of_rooms = list(map(int, input().split()))
lst_of_rooms = sorted(lst_of_rooms)
index = 0
while index<len(lst_of_rooms)-1:
    if lst_of_rooms[index] == lst_of_rooms[index+1]:
        index += K
    else:
        break
print(lst_of_rooms[index])

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

### 10. Check subset

In [15]:
for _ in range(int(input())):
    n = int(input())
    set_A = set(map(int, input().split()))
    m = int(input())
    set_B = set(map(int, input().split()))
    if set_B.difference(set_A).union(set_A) == set_B:
        print("True")
    else:
        print("False")

1
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True

### 11. Check Strict Superset

In [16]:
set_A = set(map(int, input().split()))
num_of_other_sets = int(input())
check_superset = True
for _ in range(num_of_other_sets):
    other_set = set(map(int, input().split()))
    if (len(set_A.difference(other_set)) < 0) or (set_A.intersection(other_set) != other_set):
        check_superset = False
        break
    else:
        continue

print(check_superset)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False

### 12. List Comprehension

In [18]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())      
                
valid_permutations = [[i,j,k]for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k != n]
print(valid_permutations)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

### 13. Find the Runner-up score

In [20]:
n = int(input())
arr = map(int, input().split())
arr = list(arr)
#lower limit for an element is -100 for this program, so I initialize the max_num and second_max to -100
max_num = -100
second_max = -100
for i in range(n):
    if arr[i] > max_num:
        second_max = max_num
        max_num = arr[i]
    elif arr[i] > second_max and arr[i] < max_num:
        second_max = arr[i]

print(second_max)

5
2 3 6 6 5
5

### 14. Finding the Percentage

In [21]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
print('%.2f' % (sum(student_marks[query_name])/len(student_marks[query_name])))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

### 15. Lists

In [22]:
N = int(input())
output = []
for i in range(N):
    line = input().split()
    if line[0] == 'insert':
        element = int(line[1])
        index = int(line[2])
        output.insert(element,index)
    elif line[0] == 'append':
        element = int(line[1])
        output.append(element)
    elif line[0] == 'print':
        print(output)
    elif line[0] == 'sort':
        output.sort()
    elif line[0] == 'remove':
        element = int(line[1])
        output.remove(element)
    elif line[0] == 'pop':
        output.pop()
    elif line[0] == 'reverse':
        output.reverse()

6
insert 0 5
insert 0 6
print
[6, 5]
remove 6
append 9
pop

### 16. Tuples

In [ ]:
n = int(input())
integer_list = map(int, input().split())
print(hash(tuple(integer_list)))

### 17. No Idea!

In [ ]:
n,m = map(int,input().split())
arr = list(map(int,input().split()))
A = list(map(int,input().split()))
B = list(map(int,input().split()))
happiness = 0
for i in range(n):
    if arr[i] in A:
        happiness += 1
    elif arr[i] in B:
        happiness -= 1
    else:
        continue
print(happiness)

### 18. Set .add()

In [ ]:
N = int(input())
unique_stamps = set(())
for i in range(N):
    unique_stamps.add(input())
print(len(unique_stamps))